.circle {
	width: 450px;
	height: 450px;
	position: absolute;
	right: 5rem;
	bottom: 10rem;
	z-index: 1;
	background: linear-gradient(to bottom, #f5576c, #f093fb);
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
	border-radius: 60% 40% 36% 64% / 38% 30% 70% 62%;
	animation: circleRadius 10s alternate infinite;

	@media (max-width: $brp_xl) {
		right: 0;
		bottom: 10px;
	}

	@media (max-width: $brp_sm) {
		display: none;
	}
}

@keyframes circleRadius {
	0% {
		border-radius: 60% 40% 49% 51% / 58% 45% 55% 42%;
		transform: translate3d(0, 0, 0);
	}
	50% {
		border-radius: 53% 47% 53% 47% / 75% 33% 67% 25%;
		transform: translate3d(-100px, -80px, 0);
	}
	100% {
		border-radius: 28% 72% 33% 67% / 49% 64% 36% 51%;
		transform: translate3d(0, -70px, 0);
	}
}
